body {
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 30px;
    font-family: fantasy;
    color: chartreuse;

}
table {
    color: red;
    text-align: center
} 

tfoot{
text-align: end;
color: chartreuse;
font-family: fantasy;
font-size: 30px;
}
